<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FileToSplit" value="D:\development\projects\github\TestData\Unpaywall\Source\2021\unpaywall_snapshot_2021-02-18T160139_00000001.jsonl"/>
    <add key="OutputFolder" value="D:\development\projects\github\TestData\Unpaywall\Output\2021"/>
    <add key="LogFolder" value="D:\development\projects\github\TestData\Unpaywall\Output\2021\log"/>
    <add key="BlockSize" value="100000" />
    <!--<add key="OutputFirstNBlocks" value ="1"/>-->
  </appSettings>
</configuration>
